// Specific CSS for your home-page
// Specific CSS for your home-page

.homepage {
  .picture {
    background-image: url(asset-path('background-homepage.jpg'))  }
  .background-home {
    width: 1200px;
    height: 800px;
    z-index: 1;
  }

  .logo-home {
    z-index: 6;
  }


}
