<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1541968047768-c92c393e0e79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>N'achetez pas de voiture <strong> louez la</strong></h1>
    <br>
    <%= link_to "Louer une voiture", cars_path, class: "button-essential"%>
  </div>
</div>
<div class="header">
  <h3>CAR RENTAL</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, animi.
      Ipsum reiciendis ex quos quaerat? Autem perspiciatis, molestiae. Lorem ipsum dolor, sit
      amet consectetur adipisicing elit. Ducimus optio voluptatum, sunt esse consectetur, voluptatem
      atque ratione facere fugit eius quia minima minus alias, nihil vitae? Odit quasi sequi quibusdam?
    </p>
</div>
